body {
    margin: 0 auto;
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 3px;  
    margin-left: 40px; 
    margin-bottom: 2px;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 24px;
    background-color: #FA382F;
    padding: 5px 10px;
    display: inline;  
    color: white;
    letter-spacing: 2px;
    text-align: center;  
}

p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color:white;
    letter-spacing: 1px;
    margin-left: 40px;
    margin-bottom: 0px;
    padding-top: 50px;
}

h4 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: black;
    opacity: 1;
}

.hero-image {
    display: flex;
    flex-direction: column;
    /*background-image: url("./assets/confettiblue.jpg");*/
    background-image: url("./assets/blueConfetti.jpeg");
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img.profile-picture {
    border-radius: 50%;
    border: 3px solid white;
    width: 170px;
    position: absolute;
    top: 87%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
      
.container-tech, .container-featured-projects, .container-my-thoughts, .container-skills {
    padding-top: 40px;
    text-align: center;
}

.container-introduction p, .tech p {
    line-height: 1.8;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: #F4F4F4;
    opacity: 1;
    padding: 40px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 0px;   
    opacity: .9;
}

.container-introduction .summary-red-line {
    display: inline-block;
    background: #FF484C;
    width: 80px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 5px;  
}

.summary-red-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #FF484C;
    background-color: #FF484C;
    margin-right: 15px;
    margin-left: -6px;
    border-radius: 50%;
}

.frontend-developer {
    margin-bottom: 0px;
    margin-left: 40px;
}
 
h4.anthropologist {
    letter-spacing: 1px;
    color: white;
    margin-top: 4px;
    margin-left: 40px;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-top: 80px;
}

.icon {
    width: 50px;
    height: 50px;
    border: white solid 3px;
    border-radius: 50%;
    margin-right: 0;
    margin-left: 5px;
}

.icon-image {
    padding-top: 10px;
    margin-left: 10px;
    width: 25px;
}

.icon:last-child {
    margin-right: 30px;
}

.container-projects {
    background: #F4F4F4;
    padding-top: 25px;
    margin-bottom: 25px;  
} 

.tech p {
    text-align: center;
    background-color: white;
    opacity: .9;
}

.desktop-version {
    display: none;
}

.mobile-version {
    margin-top: 20px;
}

.container-other-projects {
    padding-bottom: 60px;
}

#featured-heading {
   margin-top: 40px;
   text-align: center;
}

h4.sub-heading {
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    color: #FA382F;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.container-image-project {
    display: flex;
    position: relative;
    text-align: center;
    color: black;
}

.container-image-project img {
   width: 80%;
   height: 300px;
   padding-top: 40px;
   object-fit: cover;
   margin: auto;
}

.center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.container-image-project p {
    flex-direction: column;
    font-family: Roboto, sans-serif;
    opacity: .9;
}

.container-text-project {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-left: 40px;
    margin-right: 20px;
    text-align: left;
    opacity: .9;
}

.container-for-text {
    display: inline-flex;
    justify-content: space-evenly;
}

.container-languages {
    display: flex;
}

.container-languages p {
    background-color:#FDDFE7;
    font-family: Roboto, sans-serif;
    margin: 3px;
    margin-bottom: 20px;
    padding: 3px;
    font-size: 12px;
    opacity: 0.8;  
}

.container-languages p:first-child {
    margin-left: 38px;
}

.tech img {
    width: 80%;
    margin-right: 20px;
    margin-left: 20px;  
}

article.heading-my-thoughts {
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 5px;
    line-height: 1.4;  
    opacity: .9;
}

article img {
    width: 80%;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 50px;
    object-fit: cover;
}

article.date {
    padding-bottom: 10px;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 5px;
    margin-top: 40px;   
}

.article-text {
    font-size: 16px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    line-height: 1.5;
    letter-spacing: 1px;
    opacity: .9;
}

.container-skills {
    background: #F4F4F4;
    margin-top: 75px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 25px;
}

.container-skills-list {
    display: flex;  
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-evenly;
}

.card {
    width: 40%;
}

.card p  {
    margin-bottom: 8px;
    margin-top: 8px;
}

.container-for-more {
    padding-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.for-more {
    margin-top: 60px;
}

.icon-container-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
    margin-left: 30px;
  }

.icon-bottom {
    text-align: center;
}

.stackoverflow, .github, .linkedin {
    display: inline-block;
    color: #FA382F;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 7px;   
}

.linkedin {
    margin-top: 30px;
}

.github {
    margin-top: 30px;
    margin-left: 5px;
}

.stackoverflow {
    margin-left: 9px;
}

a.icon-bottom {
    padding-top: 8px;
    padding-right: 12px;
}
img.stackoverflow {
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 0px;
}

.icon-bottom {
    width: 70px;
    height: 70px;
    border:  #FA382F solid 4px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.logo-names {
    padding: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
    background-color: #0097AF;
    color: white;    
}

p.heading {
    font-size: 25px;
    font-weight: bold;  
}

p.contact-info {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 1.5px;
    letter-spacing: 1px;
    font-weight: lighter;   
}

p.contact-info:last-child {
    margin-bottom: 40px;
}

/* MEDIA Query */
@media (min-width: 600px) {

h1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 3px;   
    margin-bottom: 0px;
    margin-left: 90px;
}

.tech  {
    margin-top: 30px;
}

h3 {
    font-size: 20px;
    margin-left: 90px;
    padding-top: 5px;
}

h4 {
    font-size: 28px;
}

a {
    color: black;
    opacity: 1;
}

.hero-image {
    height: 500px;
}

img.profile-picture {
    width: 210px;
    top: 80%;
    left: 70%;
}
    
h4.anthropologist {
    margin-left: 90px;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-top: 80px;
}

.icon {
    width: 50px;
    height: 50px;
    border: white solid 3px;
    border-radius: 50%;
    margin-right: 0;
    margin-left: 5px;
}

.icon-image {
    padding-top: 10px;
    margin-left: 10px;
    width: 25px;
}

.icon:last-child {
    margin-right: 100px;
}

.container-introduction p, .tech p {
    margin: auto;
    max-width: 700px;
}

.tech p {
    margin-top: 4px;
}

.container-introduction {
    background-color: #F4F4F4;
    display: flex;
}

.tech p {
    text-align: center;
    background-color: white;
}

h5 {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    color: #FA382F;
    font-weight: bold;
    text-align: center;
    padding-top: 20px; 
    margin-bottom: 0px;
}

.container-featured-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin-top: 10px;
}

.container-image-project img {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 1px;
    overflow: hidden;
}

.container-image-project img:hover {
    opacity: .7;
    
}

.center {
    display: none
  }

  .container-text-project {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
    opacity: .9;
    width: 100%;
    margin: auto;
}

.container-text-project p {
    text-align: left;
    margin-bottom: 0px;
    width: 100%;  
}

.container-languages {
    text-align: left;
    width: 100%;
    margin: auto;
    justify-content: left;
    padding-top: 20px;
    padding-bottom: 0px;
}

.container-languages p {
    font-size: 12px;
    margin-left: 3px;
}

.container-languages p:first-child {
    margin-left: 0px;
}

.mobile-version {
    display: none;
}

.new {
    width: 35%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    margin-bottom: 0px;
    opacity: .9;
}

a {
    text-decoration: none;
}

.container-other-projects-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin-top: 30px;
    width: 100%;
}

.other-projects {
    width: 35%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    margin-bottom: 20px;
    opacity: .9;
}

.desktop-version {
    display: inline-block;
}

.container-my-thoughts {
    text-align: center;
}

p.heading-my-thoughts {
    font-size: 20px;
    line-height: 1.4;  
    opacity: .9;
    margin-bottom: 0px;
}

.container-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

article {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    opacity: .9;   
}

article img {
    width: 100%;
    display: flex;
    overflow: hidden;
}
  
.article-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin: 0px;
}

.container-skills-list {
    flex-wrap: nowrap;
}

.container-for-more {
    margin-bottom: 100px;
}

.icon-container-bottom {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    justify-content: center;
}

<<<<<<< HEAD

.icon-bottom {
    width: 110px;
    height: 110px;
    border:  #FA382F solid 3px;
    border-radius: 50%;
    margin-right: 40px;
    margin-left: 40px;
=======
.linkedin {
    margin-left: 5px;
>>>>>>> b780611845587feea241a9bd934134073042fd94
}

.github {
    margin-left: 5px;
}

.stackoverflow {
    margin-right: 5px;
}

a.icon-bottom {
    padding-top: 8px;
    padding-right: 12px;
    width: 70px;
    height: 70px;
    border:  #FA382F solid 4px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 30px;
}

p.contact-info:last-child {
    margin-bottom: 40px;
}

.logo-names {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
}

/* MEDIA QUERY */
@media (min-width: 1200px) {
.hero-image {
    display: flex;
    flex-direction: column;
    background-image: url("./assets/confettiblue.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img.profile-picture {
    border-radius: 50%;
    border: 3px solid white;
    width: 210px;
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

h1, h3, h4.anthropologist {
    margin-left: 250px;
}
}